*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    padding-top: 200px;
    align-items: center;
    gap: 10px;
}

.input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.input:focus {
    border-color: blue;
    outline: none;
    box-shadow: 0;
}

.button{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: blueviolet;
    color: azure;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button.hover{
    background-color: blueviolet;
}